root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.t]
trim_trailing_whitespace = false

[*.py]
indent_size = 4

[*.json]
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[{go.mod,go.sum,*.go}]
indent_style = tab

[nginx.conf]
indent_size = 8

[*.rs]
# Keep in sync with rustfmt
max_line_length = 100
indent_size = 4
