[submodule "hydro_roll_core"]
	path = hydro_roll_core
	url = https://github.com/HydroRoll-Team/HydroRollCore
	branch = main
[submodule "TRPGNivis"]
	path = TRPGNivisSDK
	url = https://github.com/HydroRoll-Team/TRPGNivis
	branch = main
