[tool.poetry]
name = "ChienDice"
version = "0.1.0"
description = "ChienDice"
license = "MIT"
authors = ["HsiangNianian <admin@jyunko.cn>"]
readme = "README.md"
repository = "https://github.com/retrofor/ChienDice"

[tool.poetry.dependencies]
python = "^3.8"
watchfiles = "^0.16.0"
iamai = "^3.14"
iamai-adapter-cqhttp = "^0.6"

[tool.poetry.dev-dependencies]
black = "^22.6.0"
isort = "^5.10.0"
pre-commit = "^2.20.0"
pre-commit-hooks = "^4.2.0"

[tool.pydantic-pycharm-plugin]
ignore-init-method-arguments = true

[tool.black]
target-version = ["py38", "py39", "py310"]

[tool.isort]
profile = "black"
length_sort = true
skip_gitignore = true
force_sort_within_sections = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
