@import './base.css';

#app {
  max-width: 90dvi;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  /*高亮色*/
  /*color: hsla(160, 100%, 37%, 1);*/
  color: #00BDEF;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    /*background-color: hsla(160, 100%, 37%, 0.2);*/
	color: #00F8F3;
	text-decoration: underline;
  }
}

@media screen and (orientation:landscape) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.item i {
	background: linear-gradient(to right, #00F8F3, #00BDEF);
}
.item{
  transition: 0.4s;
}
.item:hover{
	background-color:rgba(255,255,255,0.05);
}
.details h3,
.item i{
	color:#ffffff;
}

/*滚动条优化*/
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.15);
  transition: color 0.2s ease;
}
