name: Build API Doc

on:
    push:
        tags:
          - "v*"
    workflow_dispatch:
      inputs:
        reason:
          type: string
          required: false
          description: 'The reason to manually trigger api doc build'

jobs:
    update-api-doc:
        runs-on: ubuntu-latest
        environment: release
        permissions:
          contents: write
          pull-requests: write
          id-token: write
        steps:
          - uses: actions/checkout@v3
    
          - uses: pdm-project/setup-pdm@v4
            name: Setup PDM
            with:
              python-version: 3.9
              cache: true

          # - name: sync pdm.lock
          #   run: pdm sync

          - name: Install dependencies
            run: pdm install --group docs --dev --no-default
    
          - name: Remove API Doc
            run: rm -rf docs/source/api

          - name: Moving Submodule
            run: |
              ls
              mv DiceParser/src/oneroll OneRoll
              mv GetPlayerCard/get_pc getPCCard
              mv HydroRollCore/hrc HydroRollCore
              mv TRPGNivis/nivis_python TRPGNivisSDK


          - name: Build API Doc For HydroRoll
            run: |
              pdm run sphinx-apidoc -o docs/source/api hydro_roll -f -e --tocfile index
              pdm run sphinx-apidoc -o docs/source/api getPCCard -f -e --tocfile index
              pdm run sphinx-apidoc -o docs/source/api HydroRollCore -f -e --tocfile index
              pdm run sphinx-apidoc -o docs/source/api TRPGNivisSDK -f -e --tocfile index
              pdm run sphinx-apidoc -o docs/source/api OneRoll -f -e --tocfile index
            shell: bash

          - name: Remove Submodule
            run: |
              rm -rf OneRoll
              rm -rf getPCCard
              rm -rf HydroRollCore
              rm -rf TRPGNivisSDK

          - name: Commit 
            uses: stefanzweifel/git-auto-commit-action@v5
            with:
              branch: ${{ github.event.branch }}
              commit_message: "chore(docs): update api docs with sphinx-apidoc"